name: Aliucord

on:
  workflow_dispatch:
    inputs:
      task_name:
        description: Task to Run
        type: choice
        options:
        - checkoutAliucord
        - disassembleWithPatches
        - writePatches
        - testPatches

jobs:
  aliucord:
    runs-on: ubuntu-latest
    env:
      TASK_NAME: ${{ inputs.task_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: ${{ env.TASK_NAME == 'checkoutAliucord' && 'Aliucord/Aliucord' || format('{0}/Aliucord', github.repository_owner) }}

      - name: Setup JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: 11
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-disabled: true

      - name: Run Task
        run: |
          if [[ "$TASK_NAME" == "checkoutAliucord" ]]; then
            rm -rf .git && git init
          else
            chmod +x gradlew && ./gradlew ":patches:$TASK_NAME"
          fi

          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add -f -- .
          git commit -m "misc: update" || exit 0
          git push -f "https://x-access-token:${{ secrets.PAT }}@github.com/${{ github.repository_owner }}/Aliucord" HEAD:main
